.logo{
    width:60px;
    margin:0 auto;
}

.informations-wrapper{
    text-align: center;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.version-wrapper{
    position: absolute;
    bottom:0;
    display:flex;
    justify-content: center;
    width:100%;
}

.zero-margin{
    margin:0;
}