<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>About</ion-title>
		<ion-buttons slot="primary">
			<ion-button>
				<ion-icon style="opacity:0" slot="icon-only" name="settings"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>	
	<div class="informations-wrapper">
		<img class="logo" src="/assets/logo.png">
		<h2>Moving Alarm</h2>
		<p class="zero-margin">Never miss your stop again</p>
		<p class="zero-margin">Paolo Innocenti</p>
		<p class="zero-margin">Progetto Human Computer Interaction</p>
	</div>
	<div class="version-wrapper">
			<span>v1.0.1</span>
		</div>
</ion-content>

