<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ringtone Selection</ion-title>
    <ion-buttons slot="primary">
        <ion-button>
          <ion-icon style="opacity:0" slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ringtone-item" *ngFor="let ringtone of ringtonesList; let i = index" (click)="updateRingtone(ringtone, i)">
      <strong>{{ringtone.Name}}</strong>
      <ion-icon class="selected-icon" *ngIf="i == selected" name="checkmark" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
